@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic");

/* General styling */

    html {
        box-sizing: border-box;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

    body {
        background: #f5f5f5;
    }

    body, input, select, textarea {
        color: #777;
        font-family: "Source Sans Pro", sans-serif;
        font-size: 16pt;
        font-weight: 300;
        line-height: 1.65em;
        letter-spacing: -0.015em;
    }

    hr {
		border: 0;
		border-bottom: solid 2px #e5e5e5;
		margin: 2em 0;
	}

/* Titles */

    h1, h2, h3, h4, h5, h6 {
        color: #646464;
        font-weight: 300;
        line-height: 1em;
        margin: 0 0 0.5em 0;
    }

    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
        color: inherit;
        text-decoration: none;
    }

	h2 {
		font-size: 2.25em;
		line-height: 1.5em;
		letter-spacing: -0.035em;
	}

	h3 {
		font-size: 1.75em;
		line-height: 1.5em;
		letter-spacing: -0.025em;
	}

	h4 {
		font-size: 1.1em;
		line-height: 1.5em;
		letter-spacing: 0;
	}

	h5 {
		font-size: 0.9em;
		line-height: 1.5em;
		letter-spacing: 0;
	}

	h6 {
		font-size: 0.7em;
		line-height: 1.5em;
		letter-spacing: 0;
    }

/* Container */

	.container {
		margin: 0 auto;
		max-width: calc(100% - 5em);
		width: 60em;
	}
    
/* Row */

    .row {
		display: flex;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;
	}

    .row > * {
        box-sizing: border-box;
    }

    .row.gtr-uniform > * > :last-child {
        margin-bottom: 0;
    }
    .row > .col-6 {
        width: 50%;
    }
    .row > .col-12 {
        width: 100%;
    }

    .row.gtr-50 {
        margin-top: 0;
        margin-left: -1em;
    }
    .row.gtr-50 > * {
        padding: 0 0 0 1em;
    }
    .row.gtr-50.gtr-uniform {
        margin-top: -1em;
    }
    .row.gtr-50.gtr-uniform > * {
        padding-top: 1em;
    }

/* Form */

	form {
		margin: 0 0 2em 0;
	}

	label {
		color: #646464;
		display: block;
		font-size: 0.9em;
		font-weight: 300;
		margin: 0 0 1em 0;
	}

	input[type="text"],
	input[type="email"],
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		background-color: #f8f8f8;
		border-radius: 6px;
		border: solid 1px #e5e5e5;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0 1em;
		text-decoration: none;
		width: 100%;
	}
    input[type="text"]:invalid,
    input[type="email"]:invalid,
    textarea:invalid {
        box-shadow: none;
    }
    input[type="text"]:focus,
    input[type="email"]:focus,
    textarea:focus {
        border-color: #e89980;
        box-shadow: 0 0 0 2px #e89980;
    }
	input[type="text"],
	input[type="email"] {
		height: 3em;
	}

	textarea {
		padding: 0.75em 1em;
	}

/* Box */

    .box {
        background: #fff;
        border-radius: 6px;
        box-shadow: 0 2px 0 0#e5e5e5;
        margin: 0 0 2em 0;
        padding: 3em;
    }

    /* Actions */

	ul.actions {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		cursor: default;
		list-style: none;
		margin-left: -1em;
		padding-left: 0;
	}

		ul.actions li {
			padding: 0 0 0 1em;
			vertical-align: middle;
		}

		ul.actions.special {
			-moz-justify-content: center;
			-webkit-justify-content: center;
			-ms-justify-content: center;
			justify-content: center;
			width: 100%;
			margin-left: 0;
		}

			ul.actions.special li:first-child {
				padding-left: 0;
            }

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		background-color: #666;
		border-radius: 6px;
		border: 0;
		color: #ffffff;
		cursor: pointer;
		display: inline-block;
		font-weight: 400;
		height: 3em;
		line-height: 3em;
		padding: 0 2em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		.button:hover {
			background-color: #737373;
		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		.button:active {
			background-color: #595959;
		}

		input[type="submit"].icon,
		input[type="reset"].icon,
		input[type="button"].icon,
		.button.icon {
			padding-left: 1.35em;
		}

			input[type="submit"].icon:before,
			input[type="reset"].icon:before,
			input[type="button"].icon:before,
			.button.icon:before {
				margin-right: 0.5em;
			}