@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.woff?10658596') format('woff');
  font-weight: normal;
  font-style: normal;
}
 
 [class^="icon "]:before, [class*=" icon "]:before {
	display: inline-block;
	font-style: normal;
	text-rendering: auto;
	line-height: 1;
	font-weight: 400;
	font-family: "fontello";
	speak: none;
	
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */
	
	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;
	
	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;
	
	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;
	
	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */
	
	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
 
}

.icon-globe:before { content: '\e800'; }
.icon-phone:before { content: '\e801'; }
.icon-link-ext:before { content: '\f08e'; }
.icon-link-ext-alt:before { content: '\f14c'; }
.icon-left-open:before { content: '\e802'; }
.icon-right-open:before { content: '\e803'; }
.icon-down-open:before { content: '\e804'; }
.icon-up-open:before { content: '\e805'; }
.icon-mail:before { content: '\e806'; }
.icon-mail-alt:before { content: '\f0e0'; }
.icon-facebook:before { content: '\f09a'; }
.icon-facebook-squared:before { content: '\f308'; }
.icon-instagram:before { content: '\f16d'; }
.icon-spinner:before { content: '\f110'; }
.icon-cc-visa:before { content: '\f1f0'; }
.icon-cc-mastercard:before { content: '\f1f1'; }